extends layout

block mainContent
	h2 Request to company
	
	p
		a(href='/', class="button small pink") &laquo;  Back to index
	
	if error
		p.error Something went terribly bad: #{error}
	
	form(method='post')
		p
			label Add administrator:
				select.login(name='employeename')
					each item in employees
						option(value=item) #{item}				
	
		div.formFooter
			input(type='submit', value='add administrator')