extends layout

block mainContent
	h2 Request to company
	
	p
		a(href='/', class="button small pink") &laquo;  Back to index
	
	if error
		p.error Something went terribly bad: #{error}

	form(method='post')
		p
			label Add employee:
				select.login(name='othername')
					each item in others
						option(value=item) #{item}
							
		div.formFooter
			input(type='submit', value='add employee')