extends layout

block mainContent
	h2 Exporting domain for 
		span.zoneName #{name}
	
	p
		a(href='/server/#{server}', class='button small pink') &laquo; Back to index
	
	if error
		p.error Something went terribly bad: #{error}
	else
		p This is the exported domain contents:
		pre.exportData= strRecords
